html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #FDDAC3;
}

nav li {
  margin: 0 20px;
}

.btn-white {
  width: 125px;
  background: #fff;
  color: #3B3A40;
  font-weight: 600;
  transition: opacity .5s;
}

.btn-white:hover {
  opacity: .7;
  transition: .5s;
}

nav * {
  font-weight: 600;
}

.hero-container {
  width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.hero-container h1 {
  text-align: center;
  font-size: 3.3rem;
  color: #6D560E;
  margin-bottom: 3rem;
  font-weight: 700;
}

.has-search .form-control {
  padding-left: 4rem;
}

.has-search input[type=text] {
  width: 38rem;
  color: #B3B1B7;
  margin: 0 auto;
  height: 4.5rem;
  border-radius: 15px;
  font-size: 1.5rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  margin-left: 2.5rem;
  margin-top: 1.3rem;
  display: block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  pointer-events: none;
  color: #B3B1B7;
}

@media screen and (min-width: 992px) {
  .nav-mg {
    margin-left: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .nav-mg {
    margin-left: 100px;
  }
}


@media screen and (min-width: 1200px) {
  .nav-mg {
    margin-left: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-mg {
    margin-left: 200px;
  }
}