html, body {
	width: 100%;
	height: 100%;
}

p, label, h3 {
	color: #111439;
}

a {
	text-decoration: none;
}

.signin {
	background: #F6F9FC;
	min-height: 100%;
}

.signin > .container {
	height: 100%;
	max-width: 43rem;
	padding: 1rem 0;
}

.logo {
	margin-bottom: 1rem;
}

.signin-form {
	padding: 2rem 3rem;
	background: #fff;
	border-radius: 25px;
	min-height: 36rem;
}

.signin-form h3 {
	margin-bottom: 2.5rem;
	font-weight: 700;
}

.signin-form label {
	font-weight: 700;
	margin-bottom: 1rem;
}

.signin-form input[type="email"], .signin-form input[type="password"] {
	height: 4rem;
	border-radius: 15px;
	padding-left: 1.3rem;
	margin-bottom: 2rem;
}

.signin-form input[type="checkbox"] {
	margin-right: .7rem;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.signin-form button {
	height: 4rem;
	border-radius: 15px;
	background: #111439;
	color: #fff;
}

.dha {
	color: #111439;
}

.footer {
	margin-bottom: 1.5rem;
}

.footer a {
	padding-left: 2.5rem;
	color: #111439;
	font-weight: 700;
}